<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,800},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,800},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,534},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,534},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,268},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,268},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
            <key>card_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,264}}</string>
                <key>sourceSize</key>
                <string>{264,264}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53ea910f92a288cc8b699043f5a624e$</string>
            <key>textureFileName</key>
            <string>plist_card.png</string>
        </dict>
    </dict>
</plist>
