<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,146},{112,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,62}}</string>
                <key>sourceSize</key>
                <string>{112,62}</string>
            </dict>
            <key>hall_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,747},{46,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,31}}</string>
                <key>sourceSize</key>
                <string>{46,31}</string>
            </dict>
            <key>hall_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{93,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{93,49}}</string>
                <key>sourceSize</key>
                <string>{99,51}</string>
            </dict>
            <key>hall_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,540},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,125}</string>
            </dict>
            <key>hall_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{256,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,92}}</string>
                <key>sourceSize</key>
                <string>{256,92}</string>
            </dict>
            <key>hall_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,154},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
            <key>hall_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,771},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>hall_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,178},{125,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,103}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
            <key>hall_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,772},{119,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,128}}</string>
                <key>sourceSize</key>
                <string>{119,128}</string>
            </dict>
            <key>hall_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,74},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>hall_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,53},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,88}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>hall_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,670},{100,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,112}}</string>
                <key>sourceSize</key>
                <string>{100,112}</string>
            </dict>
            <key>hall_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,701},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{82,76}}</string>
                <key>sourceSize</key>
                <string>{84,80}</string>
            </dict>
            <key>hall_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,913},{107,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,74}}</string>
                <key>sourceSize</key>
                <string>{107,74}</string>
            </dict>
            <key>hall_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,443},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hall_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,705},{72,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>hall_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,2},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>hall_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,911},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>hall_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,137},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>hall_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,436},{71,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{71,102}}</string>
                <key>sourceSize</key>
                <string>{75,106}</string>
            </dict>
            <key>hall_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,412},{85,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,115}}</string>
                <key>sourceSize</key>
                <string>{85,115}</string>
            </dict>
            <key>hall_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,462},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>hall_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,701},{75,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,87}}</string>
                <key>sourceSize</key>
                <string>{75,87}</string>
            </dict>
            <key>hall_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,436},{85,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,100}}</string>
                <key>sourceSize</key>
                <string>{85,100}</string>
            </dict>
            <key>hall_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{173,177}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{173,177}}</string>
                <key>sourceSize</key>
                <string>{179,179}</string>
            </dict>
            <key>hall_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,670},{97,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{97,113}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>hall_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{174,146}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,50},{174,146}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>hall_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,901},{123,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{123,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>hall_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,899},{123,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{123,46}}</string>
                <key>sourceSize</key>
                <string>{133,46}</string>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,914},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>shack_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,202},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>shack_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,462},{136,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,76}}</string>
                <key>sourceSize</key>
                <string>{138,82}</string>
            </dict>
            <key>shack_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,206},{60,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,67}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>shack_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,902},{60,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,120}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>shack_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,92},{55,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,81}}</string>
                <key>sourceSize</key>
                <string>{55,81}</string>
            </dict>
            <key>shack_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,540},{129,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,159}}</string>
                <key>sourceSize</key>
                <string>{129,159}</string>
            </dict>
            <key>shack_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,899},{116,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,46}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>shack_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>shack_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{130,231}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{130,231}}</string>
                <key>sourceSize</key>
                <string>{188,247}</string>
            </dict>
            <key>shack_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,542},{100,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,203}}</string>
                <key>sourceSize</key>
                <string>{100,203}</string>
            </dict>
            <key>shack_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,271},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>shack_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,280}}</string>
                <key>sourceSize</key>
                <string>{120,280}</string>
            </dict>
            <key>shack_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,538},{88,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>shack_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,540},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>shack_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,283},{126,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,151}}</string>
                <key>sourceSize</key>
                <string>{126,151}</string>
            </dict>
            <key>shack_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,181},{111,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,101}}</string>
                <key>sourceSize</key>
                <string>{111,101}</string>
            </dict>
            <key>yard_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,358},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>yard_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,268},{62,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{62,55}}</string>
                <key>sourceSize</key>
                <string>{80,63}</string>
            </dict>
            <key>yard_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,260},{48,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>yard_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,540},{128,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,125}</string>
            </dict>
            <key>yard_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,779},{133,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,75}}</string>
                <key>sourceSize</key>
                <string>{133,75}</string>
            </dict>
            <key>yard_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,284},{214,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,104}}</string>
                <key>sourceSize</key>
                <string>{214,104}</string>
            </dict>
            <key>yard_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,500},{104,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,40}}</string>
                <key>sourceSize</key>
                <string>{104,40}</string>
            </dict>
            <key>yard_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,779},{109,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,132}}</string>
                <key>sourceSize</key>
                <string>{109,132}</string>
            </dict>
            <key>yard_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,780},{200,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,134}}</string>
                <key>sourceSize</key>
                <string>{200,134}</string>
            </dict>
            <key>yard_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,282},{128,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,62}}</string>
                <key>sourceSize</key>
                <string>{128,62}</string>
            </dict>
            <key>yard_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,769},{128,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,93}}</string>
                <key>sourceSize</key>
                <string>{128,93}</string>
            </dict>
            <key>yard_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,283},{158,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,151}}</string>
                <key>sourceSize</key>
                <string>{158,151}</string>
            </dict>
            <key>yard_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{90,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,142}}</string>
                <key>sourceSize</key>
                <string>{90,142}</string>
            </dict>
            <key>yard_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{120,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,245}}</string>
                <key>sourceSize</key>
                <string>{120,245}</string>
            </dict>
            <key>yard_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,148},{56,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>yard_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>yard_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,670},{50,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,99}}</string>
                <key>sourceSize</key>
                <string>{50,99}</string>
            </dict>
            <key>yard_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,181},{100,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,159}}</string>
                <key>sourceSize</key>
                <string>{100,159}</string>
            </dict>
            <key>yard_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,542},{56,161}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{56,161}}</string>
                <key>sourceSize</key>
                <string>{80,177}</string>
            </dict>
            <key>yard_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,778},{50,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,131}}</string>
                <key>sourceSize</key>
                <string>{50,131}</string>
            </dict>
            <key>yard_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{112,53}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,53}}</string>
                <key>sourceSize</key>
                <string>{120,59}</string>
            </dict>
            <key>yard_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,462},{136,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,76}}</string>
                <key>sourceSize</key>
                <string>{138,82}</string>
            </dict>
            <key>yard_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,284},{120,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,176}}</string>
                <key>sourceSize</key>
                <string>{120,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plist_wupin.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18b709fb965fa2d7e88f44ac578a90c$</string>
            <key>textureFileName</key>
            <string>plist_wupin.png</string>
        </dict>
    </dict>
</plist>
